body {
    margin: 0;
    overflow: hidden;
    font-family: Arial;
}

#menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("assets/bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    color: white;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    margin: 10px;
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
    display: none;
}